editdistance==0.8.1
efficientnet-pytorch==0.7.1
imageio==2.34.0
imgaug==0.4.0
Levenshtein==0.25.0
lmdb==1.4.1
matplotlib==3.5.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pandas==2.2.1
pycocotools==2.0.7
PyYAML==6.0.1
rapidfuzz==3.7.0
safetensors==0.4.5
scikit-image==0.22.0
scipy==1.12.0
segmentation-models-pytorch==0.3.4
shapely==2.0.3
timm==0.9.7
tqdm==4.65.2